<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreen.SplashScreen">
<!--            <action android:name="android.intent.action.MAIN" />-->
<!--            <category android:name="android.intent.category.LAUNCHER" />-->
        </activity>

        <activity android:name=".Checkout.Checkout" />
        <activity android:name=".DisplayItemsEmployee" />
        <activity android:name=".AuthenticationActivityLoading" />
        <activity android:name=".AuthenticationActivityAddCustomer" />
        <activity android:name=".Inventory.ManageInventory" />
        <activity android:name=".ShoppingCart.AddItem" />
        <activity android:name=".ShoppingCart.ShoppingCart" />
        <activity android:name=".Orderlist.OrderList" />
        <activity android:name=".Orderlist.CreateItem" />
        <activity android:name=".Supplier.AddSupplier" />
        <activity android:name=".AdminMenuAdapter" />
        <activity android:name=".Profile.Profile" />
        <activity android:name=".CustomerMenuAdapter" />
        <activity
            android:name=".AdminMenu"
            android:label="Admin Menu" />
        <activity
            android:name=".CustomerMenu"
            android:label="" />
        <activity android:name=".DisplayItems" />
        <activity android:name=".myItems" />
        <activity
            android:name=".EmployeeMenu.EmployeeMenu"
            android:label="Employee Menu" />
        <activity android:name=".DisplayCustomer.DisplayCustomer" />
        <activity
            android:name=".AuthenticationActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
<!--                Made Splash Screen launcher-->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>